@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #1c242f;
}

.home-container {
  display: flex;
  height: 100vh;
}

.logo-container {
  flex: 1;
  padding: 30px 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo-container img {
  height: 140px;
}

.left-content {
  flex: 1;
  padding: 160px 40px 40px 100px;
  display: flex;
  flex-direction: column;
}

.right-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-image img {
  height: 714px;
}

.logo-container {
  margin-bottom: -40px;
}

.main-content {
  max-width: 500px;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tagline {
  font-size: 24px;
  font-family: "Poppins", serif;
  letter-spacing: 1.4px;
  line-height: 36px;
  color: #f1faee;
  margin: 20px 0 40px;
}

.upload-content {
  display: flex;
  gap: 10px;
  margin-bottom: 6px;
}

.upload-section {
  flex: 1;
}

.upload-button {
  background-color: #457b9d;
  color: #f1faee;
  font-family: "Poppins", serif;
  text-align: center;
  letter-spacing: 1.4px;
  font-weight: 600;
  padding: 12px 25px;
  border-radius: 14px;
  width: 76%;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #2b4c60;
}

.upload-or-text {
  margin-left: -40px;
  margin-top: 5px;
  padding-right: 20px;
}

.upload-or-text p {
  color: #f1faee;
  font-family: "Poppins", serif;
  text-align: center;
  letter-spacing: 1.4px;
  font-size: 24px;
  display: inline;
  font-weight: 600;
}

.search-container {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}

.input-wrapper input {
  color: #f1faee;
  font-family: "Poppins", serif;
  text-align: center;
  letter-spacing: 1.4px;
  font-weight: 600;
  padding: 12px 20px;
  border: 4px solid #457b9d;
  background-color: #f1faee00;
  border-radius: 14px;
  font-size: 16px;
  width: 90%;
  outline: none;
}

::placeholder {
  margin-left: 64px;
}

.search-container input:focus {
  border-color: #2b4c60;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #007bff00;
  border: none;
  border-radius: 30px;
  padding: 8px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #457b9d;
}

/* Responsive Design */
/* @media (max-width: 768px) {
    .home-container {
      flex-direction: column;
    }
  
    .left-content {
      padding: 30px 20px;
    }
  
    .right-image {
      display: none;
    }
  } */
